**/bin/
**/obj/
**/.vs/
**/.svn/
**/Properties/launchSettings.json
**/*.csproj.user
**/.vscode/
**/.idea/
**/__pycache__
**/*.log
**/*.log.*
**/node_modules
**/.DS_Store
**/Properties/PublishProfiles
**/.config
**/tempkey.rsa
**/node_modules.zip
